<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
</head>
<body>
    <h1>Inscription :</h1></br>
{{form_start(form, {'attr': {'novalidate': 'novalidate'}})}}
{{form_widget(form)}}
<button type="submit">S'inscrire</button>
{{form_end(form)}}

</body>
</html>